@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* @font-face {
  font-family: 'Custom';
  src: url(./font/EireneSans-Regular.otf);
}

@font-face {
  font-family: 'Custom';
  font-weight: 500;
  src: url(./font/Guminert_medium.ttf);
}
@font-face {
  font-family: 'Custom';
  font-weight: 600;
  src: url(./font/Guminert_semi_bold.ttf);
}
@font-face {
  font-family: 'Custom';
  font-weight: 700;
  src: url(./font/Guminert_bold.ttf);
} */


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'League Spartan', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-color: #000419;
    color: #EEF1FF;
    font-size: calc(15px + 0.390625vw);
    animation: 1s fade ease-in;
  }

h1 {
  font-size: calc(56px + 0.390625vw);
  letter-spacing: 0.2rem;
  font-weight: 700;
}


  .nav-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    background: rgba( 177, 178, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 20px;
    z-index: 2;
  }

  .logo img {
    width: 80%;
    height: 80%;
  }

  .navlist {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .navlist a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.navlist a:hover {
    color: #AAC4FF;
    transform: scale(1.05);
  }


.hero {
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('./images/png/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .text {
  margin-bottom: 40px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.down {
  opacity: 0;
  position: absolute;
  top: 80%;
  border: 2px solid #EEF1FF;
  padding: 15px 5px 10px 5px;
  border-radius: 10px;
  animation: fade 3s forwards;
  animation-delay: 5s;
}


.work{
  font-size: 28px;
  font-weight: 600;
  padding-left: 90px;
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: 45px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



.carousel {
  white-space: nowrap;
  padding: 40px 0;
  margin-bottom: 60px;
  overflow: hidden;
}
.slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.slide a {
  text-decoration: none;
}

.slide img {
  margin: 0 40px;
  width: 404px;
  height: 316px;
  border-radius: 20px;
}
.slide img:hover {
  box-shadow: 0 4px 50px rgba(255, 255, 255, 0.2);
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.about {
    display: flex;
    padding-top: 120px;
  }

  .about .content {
    width: 65%;
    padding-left: 90px;
  }

  .about .content h1 {
    font-size: 28px;
    color: #EEF1FF;
    font-weight: 600;
  }
  .about .content p {
    
    font-weight: 400;
    line-height: 24px;
  }

  .about .content .exp {
    padding-top: 50px;
  }
  .about .content h3 {
    font-weight: 600;
    
  }
  .about .content .telus {
    padding-top: 20px;
  }
  .about .content .subhead {
    font-size: 18px;
    font-weight: 400;
    
  }
  .about .content .duration {
    
    font-weight: 400;
    color: #d9d9d9;
  }
  .about .content ul {
    line-height: 24px;
  }
  .about .content .info-head {
    font-weight: 600;
  }
  .about .content .info {

    font-weight: 400;
  }  

  .about .avatar {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .avatar img {
    transform: scale(0.5);
  }

 .contact {
  display: flex;
  padding-top: 120px;
 }

 .contact .left {
  width: 60%;
  padding-left: 90px;
 }

 .contact .left .contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .contact .left h1 {
  font-size: 28px;
  color: #EEF1FF;
  font-weight: 600;
 }
 .contact .left .form {
  display: flex;
  flex-direction: column;
 }
 .field {
  width: 75%;
  height: 40px;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  color: #EEF1FF;
  border-radius: 10px ;
  padding-left: 14px;
  border: 1px solid #EEF1FF75;
  display: flex;
  flex-direction: column;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }
 .field:focus {
  outline: none;
  border: 1px solid #AAC4FF;
 }
 .field:hover {
  border: 1px solid #AAC4FF;
  color: #AAC4FF;
 }
 .message {
  width: 75%;
  height: 100px;
  font-size: 16px;
  background-color: transparent;
  color: #EEF1FF;
  font-family: inherit;
  border-radius: 10px ;
  padding-left: 14px;
  padding-top: 10px;
  border: 1px solid #EEF1FF75;
  display: flex;
  flex-direction: column;
  resize: none;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }
 .message:focus {
  outline: none;
  border: 1px solid #AAC4FF;
 }
 .message:hover {
  border: 1px solid #AAC4FF;
  color: #AAC4FF;
 }

 .reset {
  background-color: transparent;
  text-align: left;
  font-family: inherit;
  color: #EEF1FF;
  font-size: 16px;
  border: none;
  width: 120px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
 }

 .reset:hover {
  letter-spacing: 1px;
  color: #AAC4FF;
 }

 .btn {
  width: 140px;
  height: 50px;
  background-color: #B1B2FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .btn:hover {
  box-shadow: 0 2px 40px #ffffff15;
  letter-spacing: 1px;
  transform: translateY(-3px);
 }

 .btn:focus {
  outline: none;
 }

 .contact .right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .contact .right img {
  width: 400px;
  height: 180px;
  transform: rotate(-30deg);
 }

 .footer {
  display: flex;
  align-items: flex-end;
  padding-left: 90px;
  padding-top: 75px;
  padding-bottom: 90px;
  gap: 40px;
 }

 .footer .socials {
  display: flex;
  gap: 40px;
 }

 .socials img {
  width: 26px;
  height: 26px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }
 .socials a img:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 40px #ffffff15;
 }

 .base {
  background-color: #1E1E34;
  width: 100vw;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .base span {
  font-size: 12px;
  color: #eaeaea;
  font-weight: 400;
 }

 .img {
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .img:hover {
  transform: translateY(-3px);
 }

@media screen and (max-width:600px) {

  .navlist {
    width: 50%;
  }
  .work{
    font-size: 20px;
    font-weight: 700;
    margin-left: -50px;
  }
  .about {
      margin-top: -40px;
    }
      .about .content {
        width: 100vw;
        margin-left: -50px;
        margin-top: -20px;
      }
    
      .about .content h1 {
        font-size: 20px;
        color: #eaeaea;
        font-weight: 700;
      }
      .about .content p {
        font-size: 15px;
        color: #eaeaea;
        font-weight: 400;
        line-height: 24px;
      }
    
      .about .content .exp {
        padding-top: 50px;
      }
      .about .content h3 {
        font-size: 16px;
        font-weight: 600;
        color: #eaeaea;
      }
      .about .content .subhead {
        font-size: 16px;
        font-weight: 400;
        color: #eaeaea;
      }
      .about .content .duration {
        font-size: 14px;
        font-weight: 400;
        color: #eaeaea;
      }
      .about .content ul {
        font-size: 15px;
        line-height: 24px;
        color: #eaeaea;
      }
      .about .content .info-head {
        font-weight: 600;
      }
      .about .content .info {
        color: #eaeaea;
        font-weight: 400;
      }  
    
      .about .avatar {
        display: none;
      }


      .contact {
        display: flex;
        padding-top: 120px;
       }
      
       .contact .left {
        width: 100%;
        margin-left: -50px;
       }
      
       .contact .left .contact-form {
        display: flex;
        flex-direction: column;
        gap: 25px;
       }
      
       .contact .left h1 {
        font-size: 24px;
        color: #eaeaea;
       }
       .contact .left .form {
        display: flex;
        flex-direction: column;
       }
       .field {
        width: 100%;
        height: 40px;
        font-size: 16px;
        background-color: transparent;
        color: #eaeaea;
        border-radius: 10px ;
        padding-left: 14px;
        border: 1px solid #777777;
        display: flex;
        flex-direction: column;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       }

       .message {
        width: 100%;
        height: 100px;
        font-size: 16px;
        background-color: transparent;
        color: #eaeaea;
        font-family: inherit;
        border-radius: 10px ;
        padding-left: 14px;
        padding-top: 10px;
        border: 1px solid #777777;
        display: flex;
        flex-direction: column;
        resize: none;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       }
      
    
        .btn:active {
          transform: scale(0.98);
        }
        
       .btn:focus {
        outline: none;
       }
      
       .contact .right {
        display: none;
       }
      
       .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -45px;
        padding-top: 75px;
        padding-bottom: 90px;
        gap: 20px;
       }
      
       .footer .socials {
        display: flex;
        gap: 40px;
       }
      
       .socials img {
        width: 26px;
        height: 26px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       }
       .socials a img:hover {
        transform: translateY(-3px);
        box-shadow: 0 2px 40px #ffffff15;
       }

    .img:hover {
  transform: translateY(-3px) scale(1.5);
 }
}
  

  
